.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add styles for the main content */
.Main-content {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Animation for the header text */
.header-text {
  animation: fade-in 1s ease-in-out forwards;
}

/* Animation for the logo */
.logo {
  animation: fade-in 1s ease-in-out forwards;
}


/* Animation for the quote */
.quote {
  animation: fade-in 3s ease-in-out;
}

.quote.fade-out {
  animation: fade-out 3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
